/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asap:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
}

.welcome-container {
  position: absolute;
  left: 50%;
  top: 48%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 65vh;
  border-radius: 5px;
  box-shadow: 3px 3px 30px black;
  background-color: #222;
}

.welcome-message {
  background-color: dodgerblue;
  width: 25%;
  margin: -20px auto;
  padding: 1px 0;
  border-radius: 100px;
  text-align: center;
}

#message {
  font-family: sacramento;
  font-weight: bolder;
  font-size: 1.7rem;
  width: 100%;
}

#btn-div {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#welcome-page-btn {
  padding: 8px;
  background: none;
  border: 1px #000 solid;
  border-radius: 4px;
  font-family: Poppins;
  font-weight: bold;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  box-shadow: 1px 1px 3px black;
  outline: none;
  color: white;
}

#welcome-page-btn:hover {
  color: #fff;
  background-color: deeppink;
  border: none;
}

#welcome-page-btn:active {
  color: #fff;
  background-color: deeppink;
  border: none;
}

#next-page-btn {
  position: absolute;
  bottom: 1em;
  right: 0;
  margin-right: 1em;
  padding: 8px 16px;
  background: dodgerblue;
  border: none;
  border-radius: 4px;
  font-family: Poppins;
  font-weight: bold;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  box-shadow: 1px 1px 3px black;
  outline: none;
  color: whitesmoke;
  display: none;
  opacity: 0;
  animation: animate 580ms ease-in-out;
  animation-fill-mode: forwards;
}

#next-page-btn:hover {
  background-color: midnightblue;
}

#next-page-btn:active {
  background-color: midnightblue;
}

#bottom-svg {
  position: absolute;
  left: 0;
  bottom: 0%;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#correct {
  background-color: #49f54b;
  color: black;
}

.wrong {
  background-color: red;
}

#question-header {
  background-color: #007fff;
  padding: 20px;
}

#question {
  font-family: Asap;
  font-size: 1.3rem;
}

#answer-list {
  margin: 1em;
  list-style: none;
}

.option {
  padding: 1em;
  border-radius: 20px;
  border: 1px #000 solid;
  width: 50%;
  margin: 0.7em;
  font-family: Montserrat;
  color: whitesmoke;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  outline: none;
}

.option:active {
  outline: none;
}

#result-heading {
  text-align: center;
  font-family: Montserrat;
  text-decoration: underline;
  color: whitesmoke;
  padding: 10px;
}

#result-para {
  text-align: center;
  margin-top: 1em;
  font-family: Asap;
  font-size: 2.5rem;
  color: grey;
}

#total-score {
  color: orangered;
  font-weight: bolder;
}

#reset-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 2em;
  padding: 8px 16px;
  background: coral;
  border: none;
  border-radius: 4px;
  font-family: Poppins;
  font-weight: bold;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  box-shadow: 1px 1px 3px black;
  outline: none;
  color: #000;
  opacity: 0;
  animation: animate 580ms ease-in-out;
  animation-fill-mode: forwards;
}

@media (min-width: 767px) {
  .welcome-container {
    width: 60%;
    height: 60vh;
  }
}

@media (min-width: 1100px) {
  .welcome-container {
    width: 40%;
    height: 60vh;
  }
}

@keyframes animate {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
